:root {
    /* Colors */
    --clr-light: #f1f5f9;
    --clr-dark: #020617;
    --clr-slate200: #e2e8f0;
    --clr-slate400: #94a3b8;
    --clr-slate500: #64748b;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-green: #22c55e;  /* green500 */
    --clr-green400: #4ade80; /* green400 */
    --clr-cyan: #06b6d4;   
    --clr-indigo: #4f46e5;

    /* Sizes */
    --text-xxs: 0.5rem;
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem;
    --text-8xl: 6rem;
}

 /* rgb(79, 70, 229)        indigo */

* {
    margin: 0;
    /* padding: 0; */
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.light-mode {
    --clr-dark: #f1f5f9;
    --clr-light: #020617;
    --clr-slate200: #020617;
    --clr-slate400: #1e293b;
    --clr-slate500: #1e293b;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
}

img,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

strong {
    color: var(--clr-slate500);
    font-weight: 600;
}

a {
    color: var(--clr-indigo);
    text-decoration: none;
}

button {
    display: inline-block;
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
    color: inherit;
}

/* Scroll bar */
body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
    background-color: var(--clr-green);
    outline: 1px solid var(--clr-green);
}